---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Conectividad Rápida",
    description:
      "Inicia conversaciones en un instante con enlaces y códigos personalizados, simplificando la comunicación en WhatsApp",
    icon: "wpf:connected",
  },
  {
    title: " Personalización Única",
    description:
      "Dale a tus enlaces de WhatsApp un toque distintivo. Desde números aleatorios hasta nombres de empresa, la personalización está en tus manos.",
    icon: "ph:paint-brush-fill",
  },
  {
    title: "Experiencia Intuitiva",
    description:
      "Experimenta la comodidad de crear enlaces de WhatsApp de manera sencilla y elegante. Wha.link redefine la forma en que compartes números.",
    icon: "bi:easel2-fill",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl text-center lg:text-5xl font-bold lg:tracking-tight">
    Descubre la Magia de Wha.link
  </h2>
  <p class="text-lg text-center mt-4 text-slate-600">
    Explora cómo Wha.link transforma la comunicación en WhatsApp con enlaces personalizados y una experiencia sin complicaciones.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
